/*BANNER///////////////////////////7*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 48%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
	top: 0;
	margin: 0;
}

.header {
	background-image: url("../source/banner.jpg");
}

.login {
	float:right;
	vertical-align: top;
	margin: 10px;
	margin-top: 20px;
}

.logo {
	float: left;
	margin: 10px;
    width: 110px;
    height: 80px;
}

.input {
	float: left;
	margin: 5px;
	border-radius: 10px;
	margin-left: 5px;
}

.button {
	float: left;
	margin: 5px;
	background-color: #3B5998;
	color: #FFFFFF;
	border-radius: 10px;
}

/*NAV CSS & DROPDOWN/////////////////////////////////7*/
.navigator {
	display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #7ec34a;
}

.activated {
    background-color: #7ec34a;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    z-index: 50;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #333;
}

.dropdown-content a:hover {
    background-color: #7ec34a
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-seeker {
	float: right;
	margin: 10px;
}

.ico-seeker {
    padding-top: 1px;
    width: 19px;
    height: 19px;
}

.help {

    display: inline-block;
}

.seeker {
    margin-right: 30px;
    display: inline-block;
}

.footer {
    height: 25px;
    margin-top: 0px;
    vertical-align: top;
    background-color: #7ec34a;
    color: white;
}