.news {
    height: 250px;
    background-color: #333;
    display: block;
    margin-bottom: 0px;
    /*: 0.6;*/
}

.new {
    padding: 20px;
    height: 180px;
    float: left;
    margin: 15px 0px 15px 3.5%;
    background-color: #7ec34a;
    /*opacity: 3;*/
}
body{
    background-image: url('../source/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}